AUTH_TOKEN=your_auth_token_here
CT0_CSRF=your_ct0_csrf_token_here
QUERY_ID=nxpZCY2K-I6QoFHAHeojFQ
CUTOFF_DATE=2026-05-31
ARCHIVE_PATH=tweets.js
TARGET_TYPES=replies,reposts
DELAY_BETWEEN_REQUESTS=1.1
